# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/acceptanceTest/node_modules


# production
/frontend/buil
/acceptanceTest/build
